doctype html
html
  head

    title= title || "Edison High School Clubs"
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type='text/javascript' src='/javascripts/scripts/clubNews.js')
    script(type='text/javascript' src='/javascripts/scripts/calendar.js')
    script(type='text/javascript' src='/javascripts/scripts/officer.js')
    script(type='text/javascript' src='/javascripts/scripts/main.js')
  body
      header.main-header
        div.logo
          a(href='https://edison.fresnounified.org/', target='_blank')
            img(src="/images/Edison.png", alt="Logo")
        nav.main-nav
          a(href="/") Home
          if user && (user.role === "teacher" || user.role === "admin")
            a(href="/club/add") Create Club
            a(href="/registerofficer") Add Officer
          if user
            a.displayname(href="/profile")  | #{user.role} - #{user.ufirstname} |
            a(href="/logout") Logout
          else
            a(href="/registeruser") Register User
            a(href="/login") Login
      main
        block content
      footer.footer
        p &copy; 2026 Edison High School
        p 540 E. Cesar Chavez Blvd, Fresno, CA 93706-3736
        p Main Phone: (559) 457-2650