extends ../layout

block content
    include ../mixins/clubCreationForm
    div.content
        +clubCreationForm(club, 'Update', `/clubs/${club.id}/edit`, `/clubs/${club.id}`, `/clubs/${club.id}/delete`)