extends ../layout

block content
    include ../mixins/clubEvent
    include ../mixins/clubNews
    include ../mixins/officerCard
    .profile-detail-page

        .profile-details
            h1 #{user.ufirstname} #{user.ulastname}

            div.linebreak

                .profile-clubs
                    h2 #{user.ufirstname}'s Clubs




