extends ../layout

block content
    include ../mixins/userClubIn

    .profile-detail-page

        .profile-details
            h1 #{user.ufirstname} #{user.ulastname}'s Profile

            div.linebreak

                .profile-clubs
                    h2 Your Clubs:

                    // USER'S LIST OF CLUBS THEY ARE CURRENTLY IN
                    div.user-club-list
                        if user.clubs && user.clubs.length > 0
                            each club in user.clubs
                                +userClubIn(club)
                        else
                            p User is not in any clubs
