extends ../layout

block content
    include ../mixins/userClubIn

    .profile-detail-page

        .profile-details
            h1 #{user.ufirstname} #{user.ulastname}

            div.linebreak

                .profile-clubs
                    h2 #{user.ufirstname}'s Clubs

                    // USER'S LIST OF CLUBS THEY ARE CURRENTLY IN
                    div.user-club-list
                        each club in user.clubs
                            +userClubIn(club)



